
.articleCardContainer{
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px , rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;
    position: sticky;
    top: 40px;
}
.cardHeader{
    width: 85%;
    position: relative;
    top: -20px;
    margin: auto;
    text-align: center;
}
.cardHeader img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}
.cardHeader h4{
    margin-top: 20px;
}
.cardBody{
    padding: 10px 15px;
}
.cardFooter{
    padding: 0 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cardFooter button{
    margin: 0 5px;
}